/* This is css stylesheet for MasterTable.html and HIP.html */
body 
{
	text-align: left;
	padding-top: 10px;
	background-color: rgba(255, 0, 0, 0);
}

table 
{
	text-align: left;
}

td
{
	padding:0 70px 0 70px;
	font-family: Tahoma;
}

a, a:focus
{
	font-family: Arial;
	color: #44AA4A;
	text-decoration: none;
}

a:hover, a:active, a.active 
{
	color: #F9A603;
	text-decoration: none;
}

h2
{
	font-family: Tahoma;
	font-weight: bold;

}

h3
{
	font-family: Tahoma;
}

p
{
	font-family: Tahoma;
}



