/* This is css stylesheet for Operations Portal homepage */

html, body, #bg
{
    height:100%;
    width:100%;
    overflow:hidden;
}

#bg { 
    position: fixed; 
}


body 
{
	text-align: center;
	background-color: rgba(255, 0, 0, 1);
}

a, a:focus
{
	font-family: Arial;
	color: #44AA4A;
	text-decoration: none;
}

a:hover, a:active, a.active 
{
	color: #F9A603;
	text-decoration: none;
}

h1
{
	font-family: Verdana;
	font-weight: bold;

}

h2
{
	font-family: Verdana;
	font-weight: bold;

}

h3
{
	font-family: Verdana;
	margin-left: 100px;
	margin-right: 100px;

}

h4
{
	font-family: Verdana;
}

p
{
	font-family: Arial;
	padding: 10px;
}

ul
{
	font-size: 30px;
}

.content
{
	text-align: left;
	padding-left: 100px;
}
/*
#navtext
{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 550px;
	margin-bottom: 60px;
	background-color: rgba(255, 255, 255, 0.9);
}

.row 
{
	padding: 10px;
	margin-bottom: 50px;
}



/*
img.header
{
    left: 300px;
    top: 20px;
	height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 200px;
}


*/
