/* This is css stylesheet for Operations Portal homepage */
html {
	background: url('../image/team.jpg')
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body 
{
	text-align: center;
	padding-top: 10px;
	background-color: rgba(255, 0, 0, 0);
}

a
{
	font-family: Arial;
	color: #44AA4A;
}

a:hover, a:focus, a:active, a.active {
	color: #F9A603;
	text-decoration: none;
}

h1
{
	font-family: Verdana;
	font-weight: bold;

}

h2
{
	font-family: Verdana;
	font-weight: bold;

}

h3
{
	font-family: Verdana;
	margin-left: 100px;
	margin-right: 100px;

}

h4
{
	font-family: Verdana;
}

p
{
	font-family: Arial;
	padding: 10px;
}

ul
{
	font-size: 30px;
}

img
{
	position: fixed;
    left: 300px;
    top: 20px;
	height: auto; 
    width: auto; 
    max-width: 900px; 
    max-height: 200px;
}

#navtext
{
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 550px;
	margin-bottom: 60px;
	background-color: rgba(255, 255, 255, 0.9);
	
}

.row 
{
	padding: 10px;
	margin-bottom: 50px;
}

.content
{
	text-align: left;
	padding-left: 100px;
}
