/* This is css stylesheet for Operations Portal homepage */

body 
{
	text-align: center;
	padding-top: 10px;
}

a
{
	font-family: Arial;
}

h1
{
	font-family: Verdana;
	font-weight: bold;

}

h2
{
	font-family: Verdana;
	font-weight: bold;

}

h3
{
	font-family: Verdana;

}

h4
{
	font-family: Verdana;
}

p
{
	font-family: Arial;
	padding: 10px;
}

ul
{
	font-size: 30px;
}

img
{
	height: auto; 
    width: auto; 
    max-width: 900px; 
    max-height: 300px;
}

#minions
{
	max-height: 200px;
}

#navtext
{
	margin-top: 60px;
	margin-bottom: 60px;
}

.row 
{
	padding: 10px;
	margin-bottom: 50px;
}

.content
{
	text-align: left;
	padding-left: 100px;
}